.khan {
  padding-top: 105px;
  background-color: #F2F2F2;
}
/* 
.khan__container {
  width: 80%;
  margin: 0 auto;
} */
/* .khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
} */

/* .khan__title {
  margin: 0 0 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
} */

/* .khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
} */

/* .khan__quote-author {
  margin: 36px 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
} */

/* .khan__quote-author-subline {
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
} */


/* .khan__book-container {
  display: flex;
} */

/* .khan__book-pic {
  height: 620px;
  width: 608px;
  z-index: 1;
  margin-right: 48px;
  object-fit: cover;
  object-position: center top;
} */

/* .khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity .2s linear;
  text-decoration: none;
  color: #2F80ED;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .6;
} */
